/* iPad pro 10" Landscape */
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    p {
      font-size: 0.8rem;
    }
  
    h3 {
      font-size: 2.5rem;
    }
  
    h4 {
      font-size: 1.5rem;
    }
  
    .purpleButton {
      font-size: 1.15rem;
      border: solid 2.5px transparent;
      padding: 0.85rem 3.25rem;
      letter-spacing: 0.05;
    }
  
    .purpleButton:hover {
      font-size: 1.15rem;
      border: solid 2.5px transparent;
      padding: 0.85rem 3.25rem;
      letter-spacing: 0;
    }
  
    .previous_btn,
    .next_btn {
      transform: scale(0.95);
    }
  
    #wrapHome {
      background-size: cover;
      background-position: top center;
    }
  
    #gallery {
      margin-top: 10rem;
    }
  
    nav {
      background: rgb(33, 33, 33);
      background: rgba(0, 0, 0, 0.15);
    }
  
    .navElement {
      margin: 0.5rem auto !important;
    }
  
    .dropdownContent {
      display: none;
    }
  
    .widgetTitle {
      font-size: 2.25rem;
      margin: -5rem 0 2.1rem 0;
    }
  
    .widgetInput {
      width: 10rem;
    }
  
    .widgetBE {
      margin: -17.5rem 0 4.5rem 0;
    }
  
    .plan {
      height: 70vh;
    }
  
    .whiteTitle {
      font-size: 1.2rem;
      line-height: 1rem;
    }
  
    .whiteText {
      font-size: 0.75rem;
      line-height: 0.8rem;
      margin-bottom: 0.25rem;
    }
  
    .textColumn {
      padding: 2.5rem 2.5rem 2rem 2.5rem;
    }
  
    .incentive {
      margin-top: 5rem;
    }
  
    .incentiveText {
      font-size: 0.75rem;
    }
  
    .incentiveText h3 {
      font-size: 1.5rem;
    }
  
    .slide_viewer {
      height: 65vh;
    }
  
    #services {
      margin-top: 12.5rem;
    }
  
    #calendar,
    #options {
      margin-top: 7rem;
    }
  
    .optionPrice {
      width: 7.25rem;
      height: 7.25rem;
      border-radius: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
  
    .price {
      padding-top: 0.75rem;
      font-size: 3.5rem;
    }
  
    .optionLabel {
      font-size: 2.5rem;
      margin: 2rem 0 6.75rem 0;
    }
  }
  
  /* iPad pro 13" Landscape */
  @media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .widgetTitle {
      font-size: 3rem;
      margin: -6rem 0 2.1rem 0;
    }
  
    .widgetBE {
      margin: -31rem 0 12rem 0;
    }
  
    nav {
      background: rgb(33, 33, 33);
      background: rgba(0, 0, 0, 0.15);
    }
  
    .navElement {
      margin: 0.5rem auto !important;
    }
  
    .dropdownContent {
      display: none;
    }
  
    .plan {
      height: 60vh;
    }
  
    .plan img {
      object-fit: cover;
    }
  
    .slide_viewer {
      height: 60vh;
    }
  
    .optionPrice {
      width: 8.5rem;
      height: 8.5rem;
      border-radius: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
  
    .price {
      font-size: 4rem;
    }
  }