/* iPad pro 10" Portrait */
@media only screen and (min-device-height: 768px) and (max-device-height: 1112px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    nav {
      background: rgb(33, 33, 33);
      background: rgba(0, 0, 0, 0.15);
    }
  
    #welcome {
      margin-top: 5rem;
      max-height: 100vh;
      overflow: hidden;
    }
  
    .headerWidget {
      margin-top: -40rem;
      display: flex;
      height: 40vh;
    }
  
    div.backgroundShape {
      display: none;
    }
  
    .widgetTitle {
      font-size: 2.5rem;
      font-family: "Eczar";
      font-weight: bold;
      margin: -5rem 0 1.7rem 0;
      color: rgb(255, 255, 255);
      text-shadow: 0 1px 0.94px rgba(0, 0, 0, 0.24),
        0 0 1.96px rgba(0, 0, 0, 0.16);
    }
  
    .widgetBE {
      margin: -12rem auto 0 auto;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: flex-start;
      background-image: url("/src/img/SVG/winter/shape__widget_portrait.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 40vw;
      height: 50vh;
    }
  
    .BEform {
      padding-top: 8rem;
      width: 30vw;
    }
  
    .form-row {
      flex-flow: column nowrap;
    }
  
    .form-row .col-auto {
      margin: 0.5rem 0 0 0 !important;
    }
  
    .widgetInput {
      width: 18.75rem;
    }
  
    .slide_viewer {
      height: 50vh;
      width: 100vw;
    }
  
    .slide {
      height: auto;
      bottom: 0;
    }
  
    .titleRcol {
      position: relative;
      top: -67vh;
    }
  
    .form-row > .col-auto {
      margin: 0.2rem 0;
    }
  
    .widgetButton {
      margin: 0.5rem 0 1rem 0 !important;
    }
  
    .mapSection {
      flex-flow: column nowrap;
      justify-content: flex-start;
      height: 100vh;
    }
  
    .plan {
      width: 100vw;
      display: flex;
    }
  
    .plan img {
      object-fit: cover;
      object-position: center;
    }
  
    .welcomeRighttCol {
      width: 100vw;
      margin: 0 auto;
    }
  
    .welcomeLeftCol {
      max-height: 50%;
      margin: 0 auto;
    }
  
    .addressCard {
      width: 50vw;
      margin: 2.5rem auto;
      max-height: 25%;
    }
  
    .addressBlockContent {
      position: relative;
      bottom: 11rem;
    }
  
    .textColumn {
      margin: 2rem 10rem;
      font-size: 12px;
    }
  
    .whiteTitle {
      font-size: 1.25rem;
      line-height: 1.2rem;
    }
  
    .whiteText {
      font-size: 0.8rem;
    }
  
    #gallery > .row {
      flex-flow: column nowrap;
    }
  
    .incentive {
      margin-top: -12rem;
    }
  
    .incentive > .svg-container {
      transform: scale(0.8);
    }
  
    .incentiveButton {
      margin-top: -4.5rem;
    }
  
    #calendar {
      margin-top: 15rem;
    }
  
    .optionLeftCol {
      margin: 0;
      padding: 0;
    }
  
    .optionShape {
      transform: scale(1.25);
    }
  
    .newsRightCol {
      padding: 1.5rem 2rem;
    }
  
    .blogButton {
      padding-top: 2.5rem;
    }
  
    #contact > .row {
      flex-flow: column nowrap;
    }
  
    .contactInfos {
      display: flex;
      flex-flow: row nowrap;
    }
  }
  
  /* iPad pro 13" Portrait */
  @media only screen and (min-device-height: 1366px) and (max-device-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    nav {
      background: rgb(33, 33, 33);
      background: rgba(0, 0, 0, 0.15);
    }
  
    #welcome {
      margin-top: 7rem;
    }
  
    .headerWidget {
      margin-top: -40rem;
      display: flex;
      height: 40vh;
    }
  
    div.backgroundShape {
      display: none;
    }
  
    .widgetTitle {
      font-size: 2.8rem;
      font-family: "Eczar";
      font-weight: bold;
      margin: -5rem 0 2.1rem 0;
      color: rgb(255, 255, 255);
      text-shadow: 0 1px 0.94px rgba(0, 0, 0, 0.24),
        0 0 1.96px rgba(0, 0, 0, 0.16);
    }
  
    .widgetBE {
      margin: -12rem auto 0 auto;
      display: flex;
  
      flex-flow: column wrap;
      align-items: center;
      justify-content: flex-start;
      background-image: url("/src/img/SVG/winter/shape__widget_portrait.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 40vw;
      height: 50vh;
    }
  
    .BEform {
      padding-top: 8rem;
      width: 30vw;
    }
  
    .form-row {
      flex-flow: column nowrap;
    }
  
    .form-row .col-auto {
      margin: 0.5rem 0;
    }
  
    .widgetInput,
    .widgetButton {
      width: 20rem;
    }
  
    .asterisque {
      margin-top: 1.5rem;
    }
  
    .slide_viewer {
      height: 50vh;
    }
  
    .incentive {
      margin-top: -10rem;
    }
  
    #welcome {
      max-height: 100vh;
    }
  
    #gallery {
      margin-top: 20rem;
    }
  
    #calendar {
      margin-top: 15rem;
    }
  
    .mapSection {
      flex-flow: column nowrap;
      justify-content: flex-start;
      height: 100vh;
    }
  
    .plan {
      width: 100vw;
      display: flex;
    }
  
    .plan img {
      object-fit: cover;
      object-position: center;
    }
  
    .welcomeRighttCol {
      width: 100vw;
      margin: 0 auto;
    }
  
    .titleRcol {
      top: -65vh;
    }
  
    .welcomeLeftCol {
      max-height: 50%;
      margin: 0 auto;
    }
  
    .addressCard {
      width: 50vw;
      margin: 0 auto;
      max-height: 40%;
    }
  
    .addressBlockContent {
      position: relative;
      bottom: 11.5rem;
    }
  
    .textColumn {
      margin: auto 12rem;
    }
  }