/* Smartphone Portrait */
@media only screen and (min-device-height: 360px) and (max-device-height: 768px) and (orientation: portrait) {
  nav {
    background: rgb(33, 33, 33);
    background: rgba(0, 0, 0, 0.15);
  }

  .navbar {
    text-align: center;
  }

  .navbar-toggler {
    font-size: 3rem;
  }

  .navbar-nav li {
    margin-top: 2rem;
  }

  .nav-link {
    width: auto;
  }

  .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .backgroundShape {
    display: none;
  }

  .svg-container {
    overflow: hidden;
    filter: drop-shadow(0 16px 24px rgba(0, 0, 0, 0.14))
      drop-shadow(0 9px 46px rgba(0, 0, 0, 0.12))
      drop-shadow(0 11px 15px rgba(0, 0, 0, 0.2));
    width: 75%;
  }

  .headerWidget {
    position: relative;
    height: 1180px;
    width: 870px;
    margin: -85rem auto 20rem auto;
    background-image: url("/src/img/SVG/winter/shape__widget_portrait.svg");
    background-repeat: no-repeat;
    fill: url(#winter);
    background-size: cover;
    filter: drop-shadow(0 16px 24px rgba(0, 0, 0, 0.14))
      drop-shadow(0 9px 46px rgba(0, 0, 0, 0.12))
      drop-shadow(0 11px 15px rgba(0, 0, 0, 0.2));
  }

  .widgetTitle {
    font-size: 5rem;
    width: 55vw;
    font-family: "Eczar";
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 0.94px rgba(0, 0, 0, 0.24),
      0 0 1.96px rgba(0, 0, 0, 0.16);
    margin-bottom: 10rem;
  }

  .widgetBackground {
    visibility: hidden;
  }

  .BEform {
    top: 0;
    padding-top: 10rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
  }

  .form-row {
    flex-flow: column nowrap;
    width: 82.5vw;
    height: 85%;
  }

  .form-row > .col-auto,
  .widgetInput {
    width: 100%;
    height: 12.5rem;
    font-size: 4.5rem;
  }
 
  .widgetInput > option {
    font-size: 4.5rem !important;
  }


  

  /*.form-row>.col-auto{
  
  }*/

  /*#welcome {
    margin-top: 5rem;
    max-height: 100vh;
    overflow: hidden;
  }*/

  /*.slide_viewer {
    height: 50vh;
    width: 100vw;
  }*/

  /*.slide {
    height: auto;
    bottom: 0;
  }*/

  /*.titleRcol {
    position: relative;
    top: -67vh;
  }*/

  /*.mapSection {
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 100vh;
  }*/

  /*.plan {
    width: 100vw;
    display: flex;
  }*/

  /*.plan img {
    object-fit: cover;
    object-position: center;
  }*/
  /*.welcomeRighttCol {
    width: 100vw;
    margin: 0 auto;
  }*/
  /*.welcomeLeftCol {
    max-height: 50%;
    margin: 0 auto;
  }*/
  /*.addressCard {
    width: 50vw;
    margin: 0 auto;
    max-height: 25%;
  }*/
  /*.addressBlockContent {
    position: relative;
    bottom: 10rem;
  }*/
  /*.textColumn {
    margin: auto 12rem;
  }*/

  /*.whiteTitle {
    font-size: 1.25rem;
    line-height: 1.2rem;
  }*/
  /*.whiteText {
    font-size: 0.8rem;
  }*/

  /*#gallery > .row {
    flex-flow: column nowrap;
  }*/

  /*.incentive {
    margin-top: -8rem;
  }*/

  /*.incentive > .svg-container {
    transform: scale(0.8);
  }*/
  /*.incentiveButton {
    margin-top: 0;
  }*/

  /*#calendar {
    margin-top: 15rem;
  }*/

  /*.optionLeftCol {
    margin: 0;
    padding: 0;
  }*/

  /*.optionShape {
    transform: scale(1.25);
  }*/

  /*.newsRightCol {
    padding: 1.5rem 2rem;
  }*/

  /*.blogButton {
    padding-top: 2.5rem;
  }*/

  /*#contact > .row {
    flex-flow: column nowrap;
  }*/

  /*.contactInfos {
    display: flex;
    flex-flow: row nowrap;
  }*/
}
